<html>
<head>
    <link rel="stylesheet" type="text/css" href="/Content/auction.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/Content/scripts/postHelper.js"></script>
</head>
<body>
    <title>Nancy Auction API</title>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nancy Auction</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/simpleAuction/">Home</a></li>
                    <li><a href="/simpleAuction/newEntry/">Post Listing</a></li>
                    <li><a href="/api/template/">API</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <h1>Nancy API!</h1>

    <div id="response" style="border: 1px solid black; border-radius: 5px; background-color: #ccffff; padding: 10px; font-size: 20px;">Response goes here!</div>

    <br /><br />

    <button onclick="getAllAuctionEntries()">Get All Auction Entries</button>

    <br /><br />

    <button onclick="getAuctionEntry()">Get Auction for </button>
    <input id="getId" type="text" placeholder="3, 7, 42" />

    <br /><br />

    <button onclick="deleteAuctionEntry()">Delete Auction for </button>
    <input id="deleteId" type="text" placeholder="3, 7, 42" />

    <br /><br />

    <script>

        function getAuctionEntry() {

            var id = $("#getId").val();

            $.get({
                url: '/api/entry/' + id,
                success: success,
                dataType: 'json'
            });
        }

        function getAllAuctionEntries() {
            $.get({
                url: '/api/entries/',
                success: success,
                dataType: 'json'
            });
        }

        function deleteAuctionEntry() {
            var id = $("#deleteId").val();

            $.ajax({
                url: '/api/entry/' + id,
                type: 'DELETE',
                complete: function (responseTxt, statusTxt, xhr) {
                    //console.log(responseTxt);
                    //console.log(statusTxt);
                    //console.log(xhr);

                    console.log(responseTxt.status);

                    if (responseTxt.status === 200) {
                        $("#response").html('auction entry deleted!');
                    }

                    if (responseTxt.status === 500) {
                        $("#response").html('Server Error!');
                    }

                }
            });
        }

        function success(data) {
            $("#response").html(JSON.stringify(data));
        }

        function deleteSuccess(id) {
            $("#response").html('auction entry with id ' + id + ' deleted!');
        }

    </script>

</body>


</html>
